@import "../../vendor/blueprint-variables.scss";

.item-icon-container,
.quantity-container,
.currency-container,
.buyout-container,
.auclist-container,
.owner-container {
    line-height: 24px;
}

.item-popover-content {
    padding: 10px;
    width: 350px;

    ul {
        list-style: none;
        padding-left: 0;
        margin: 0;
    }

    .postscript {
        float: right;
    }

    .item-icon {
        border-radius: 3px;
        width: 56px;
        height: 56px;
        margin-bottom: -22px;
        border-width: 3px;
        border-style: solid;
    }

    .item-text {
        line-height: 56px;
        margin-bottom: 0;
    }

    .item-level,
    .description {
        color: $gold3;
    }

    .on-use,
    .random-stats {
        color: $green3;
    }
    
    .crafting-reagent {
        color: $blue3;
    }
}

.bp3-dark {
    .item-popover-content {
        .item-level,
        .description {
            color: $gold5;
        }

        .on-use,
        .random-stats {
            color: $green5;
        }

        .crafting-reagent {
            color: $blue5;
        }
    }
}