@import "../vendor/blueprint-variables.scss";

@media (min-width: 1050px) {
    #topbar, #content {
        width: 1000px;
        margin: 0 auto;
    }
}

#content {
    padding: $pt-grid-size;
}

html,
body,
#top-root,
#root,
#app {
    height: 100%;
}

body.bp3-dark,
#app.dark-app {
    background: #30404d;
}

.bp3-dark {
    .poor-text,
    .poor-text a {
        color: $light-gray1 !important;
    }

    .common-text,
    .common-text a {
        color: $gray5 !important;
    }

    .uncommon-text,
    .uncommon-text a {
        color: $green5 !important;
    }

    .rare-text,
    .rare-text a {
        color: $blue5 !important;
    }

    .epic-text,
    .epic-text a {
        color: $violet5 !important;
    }
}

.poor-text,
.poor-text a {
    color: $gray1 !important;
}

.common-text,
.common-text a {
    color: $dark-gray5 !important;
}

.uncommon-text,
.uncommon-text a {
    color: $green4 !important;
}

.rare-text,
.rare-text a {
    color: $blue4 !important;
}

.epic-text,
.epic-text a {
    color: $violet4 !important;
}

.qaf-menu,
.item-input-menu {
    min-width: 350px;
}

.qaf-menu-item .item-icon,
.item-input-menu-item .item-icon {
    width: 20px;
    height: 20px;
    border-radius: 3px;
    margin-bottom: -5px;
}

.auction-table,
.price-list-table,
.list-dialog-table {
    width: 100%;
    margin: 10px 0;

    .item-icon {
        width: 24px;
        height: 24px;
        border-radius: 3px;
        margin-bottom: -5px;
    }
}