@import "../vendor/blueprint-variables.scss";

@media (min-width: 1050px) {
    #topbar, #content {
        width: 1000px;
        margin: 0 auto;
    }
}

#content {
    padding: $pt-grid-size;
}

.auction-list {
    width: 100%;
    margin: 10px 0;
}

.poor-text,
.poor-text a {
    color: $gray1 !important;
}

.common-text,
.common-text a {
    color: $dark-gray5 !important;
}

.uncommon-text,
.uncommon-text a {
    color: $green4 !important;
}

.rare-text,
.rare-text a {
    color: $blue4 !important;
}

.epic-text,
.epic-text a {
    color: $violet4 !important;
}

.item-icon-container,
.quantity-container,
.currency-container,
.buyout-container,
.auclist-container,
.owner-container {
    line-height: 24px;
}

.auction-list .item-icon {
    width: 24px;
    height: 24px;
    border-radius: 3px;
    margin-bottom: -5px;
}

.qaf-menu {
    min-width: 350px;
}

.qaf-menu-item .item-icon {
    width: 20px;
    height: 20px;
    border-radius: 3px;
    margin-bottom: -5px;
}

.auction-popover-content {
    padding: 10px;
    width: 350px;

    ul {
        list-style: none;
        padding-left: 0;
        margin: 0;
    }

    .postscript {
        float: right;
    }

    .item-icon {
        border-radius: 3px;
        width: 56px;
        height: 56px;
        margin-bottom: -22px;
        border-width: 3px;
        border-style: solid;
    }

    .item-text {
        line-height: 56px;
        margin-bottom: 0;
    }

    .item-level {
        color: #D99E0B;
    }

    .on-use,
    .random-stats {
        color: #29A634;
    }
    
    .crafting-reagent {
        color: #137CBD;
    }
}