@import "../vendor/blueprint-variables.scss";

@media (min-width: 1050px) {
    #topbar, #content {
        width: 1000px;
        margin: 0 auto;
    }
}

#content {
    padding: $pt-grid-size;
}

.pt-html-table {
    width: 100%;
}
